@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    font-size: 14px;
}

.app {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.u-visibility-hidden {
    visibility: hidden;
}

.c-picker {
    position: relative;
}

.c-picker__toggle {
    border: 3px solid white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #00000029;
    cursor: pointer;
    width: 35px;
    height: 20px;
}

.c-picker__picker {
    position: absolute;
    z-index: 999;
    right: 0;
    margin-top: 5px;
}
